body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
header {
    width: 100%;
    background: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsl(193, 100%, 96%);
}
.head {
    width: 90%;
    margin: 0 auto;
    padding: 2em 0 5em 0;
    display: flex;
}
.btn-try {
    margin-left: auto;
}
.btn-try button a {
    text-decoration: none;
    color: hsl(192, 100%, 9%);
}
.btn-try button {
    padding: .5em 2em;
    border-radius: 20px;
    border-color: white;
    border-bottom: none;
    border-right: none;
    background: white;
}
#free-btn {
    padding: 1em 3em;
    border-radius: 30px;
    background: hsl(322, 100%, 66%);
    color: white;
    border: 0;
    cursor: pointer;
} 
.sub-head {
    width: 90%;
    margin: 0 auto;
    display: flex;

}
.sub-head-text h2 {
    width: 40%;
}
.sub-head-text p {
    width: 65%;
    font-size: 1.2rem;
}
.mock-up {
    margin-left: auto;
}
.mock-up img {
    width: 100%;
}

/****** main *******/
main {
    padding: 0 0 3em 0;
    color: rgb(71, 71, 71);
}

.main-1 {
    width: 90%;
    margin: 8em auto 0 auto;
    display: flex;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #d0d0d0;
} 
.main-1-img img {
    width: 70%;
    padding: 2em 5em;
}
.main-text-1 {
    padding: 2em 5em;
}
.main-text-1 p {
    width: 70%;
}

.main-2 {
    width: 90%;
    margin: 3em auto 0 auto;
    display: flex;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #d0d0d0;
} 
.main-2-img img {
    width: 70%;
    padding: 2em 5em;
    order: 2;
}
.main-text-2 {
    padding: 5em 0;
    order: 1;
}
.main-note-2 p {
    width: 80%;
}

.main-3 {
    width: 90%;
    margin: 3em auto 10em auto;
    display: flex;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #d0d0d0;
} 
.main-3-img img {
    width: 70%;
    padding: 2em 5em;
}
.main-text-3 {
    padding: 2em 5em;
}
.main-text-3 p {
    width: 70%;
}

/***** footer ****/
footer {
    width: 100%;
    background: hsl(192, 100%, 9%);
    color: white;
    padding: 10em 0 2em 0;
    position: relative;
}
.main-foot {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.box_container {
    display: flex;
    justify-content: center;
    z-index: 100;
    position: absolute;
    right: 0%;
    left: 0%;
    margin-top: -4rem;
}
.box {
   background-color: white;
    width: 50%;
    margin: 0em auto;
    height: 200x;
    text-align: center;
    box-shadow: 1px 1px 5px #d0d0d0;
    top: 0;
}
.box h2 {
    text-align: center;
    color: hsl(192, 100%, 9%);
    padding: 2em 0 0 0;
}
.box p {
    display: flex;
    justify-content: center;
    padding: 2em 0;
}
.box button {
    padding: 1em 3em;
    border-radius: 30px;
    background: hsl(322, 100%, 66%);
    color: white;
    border: none;
}
.segment-1 {
    width: 25%;
    padding: 5em 0 0 0;
}
.segment-2 {
    padding: 5em 0 0 0;
}
.segment-2 li {
    list-style: none;
    margin-top: 1em;
}
.segment-3 {
    padding: 5em 0 0 0;
}
.segment-3 li {
    margin-top: 1.5em;
    list-style: none;
}
.segment-4 {
    padding: 5em 0 0 0;
    display: flex;
}
a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.segment-4 li {
    list-style: none;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-right: 5px;
}
.copyright {
    width: 90%;
    text-align: left;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}
@media only screen and (max-width:550px) {
    body {
        width: 550px;
        max-width: 100%;
    }
    .copyright {
        justify-content: center;
        padding-bottom: 2rem;
        margin-top: 0;
    }
    .head {
        width: 100%;
        margin: 0 auto;
        padding: 2em 0;
        display: flex;
    }
    .btn-try {
        margin-left: auto;
    }
    .btn-try button {
        padding: .5em 2em;
    }
    #free-btn {
        padding: 1em 3em;
        margin: 1em 0 2em 0;
    } 
    .sub-head {
        width: 100%;
        margin: 0 auto;
        display: block;
    
    }
    .sub-head-text h2 {
        width: 80%;
        margin: 2em auto 0 auto;
        text-align: center;
    }
    .sub-head-text p {
        width: 70%;
        margin: 1rem auto;
        text-align: center;
    }
    .mock-up {
        margin-left: 0;
    }
    .mock-up img {
        width: 100%;
    }
    /***** main *****/
    .main-1 {
        width: 90%;
        margin: 2em auto;
        display: flex;
        flex-direction: column;
    } 
    .main-1-img {
        width: 90%;
        margin: 0 auto;
        padding: 2em 0;
        display: flex;
        justify-content: center;
    }
    .main-1-img img {
        width: 70%;
        padding: 0;
        order: 2;
    }
    .main-note-1 h2 {
        
        text-align: center;
    }
    .main-text-1 {
        width: 90%;
        margin: 0 auto;
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        order: 1;
    }
    .main-text-1 p {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    
    .main-2 {
        width: 90%;
        margin: 2em auto;
        display: flex;
        flex-direction: column;
    } 
    .main-2-img {
        width: 90%;
        padding: 2em 0;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .main-2-img img {
        width: 70%;
        padding: 0;
        order: 2;
    }
    .main-text-2 {
        width: 90%;
        margin: 0 auto;
        padding: 1em 0;
        display: flex;
        flex-direction: column;
    }
    .main-text-2 h2 {
      
        text-align: center;
    }
    .main-text-2 p {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    
    .main-3 {
        width: 90%;
        margin: 2em auto;
        display: flex;
        flex-direction: column;
    } 
    .main-3-img {
        width: 90%;
        display: flex;
        justify-content: center;
        padding: 2em 0;
        margin: 0 auto;
    }
    .main-3-img img {
        width: 90%;
        padding: 0;
        order: 2;
        
    }
    .main-text-3 {
        width: 90%;
        margin: 0 auto;
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        order: 1;
    }
    .main-text-3 h2 {
        text-align: center;
  
    }
    .main-text-3 p {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
    main {
        padding: 0 0 5em 0;
    }
    /**** footer ****/
    footer {
        width: 100%;
        background: hsl(192, 100%, 9%);
        color: white;
        padding-bottom: 0;
    }
    .main-foot {
        flex-direction: column;
        text-align: left;
        justify-content: flex-start;
    }
    .box_container {
      padding: 0px 10px;
     
    }
    .box {
        border-radius: 20px;
    }

    .box button {
        padding: 1em 3em;
    }
    
    .box {
        width: 90%;
        margin: -1em auto 0em auto;
    }
    .box h2 {
        text-align: center;
        padding: 2em 0 0 0;
    }
    .box p {
        display: flex;
        justify-content: center;
        padding: 2em 0;
    }
    .box button {
        padding: 1em 3em;
    }
    .segment-1,.segment-2,.segment-3,.segment-4 {
        width: 100%;
    }
    .segment-3,.segment-2,.segment-4 {
        padding-top: 0;
    }
    .segment-2,.segment-4 {
        padding-top: 1rem;
    }
    .segment-4 {
        padding-top: 0ch;
        
    }
  
    
}